:root {
  --color-background: #fafafa;
  --color-code: #649f57;
  --color-heading: #b85445;
  --color-link-visited: #6a60b0;
  --color-link: #36c;
  --color-text: #242529;
  --color-text-selection: #5c78e23d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #282c33;
    --color-code: #a1c181;
    --color-heading: #d9777c;
    --color-link-visited: #a799cd;
    --color-link: #88a3e8;
    --color-text: #dce0e5;
    --color-text-selection: #74ade83d;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: var(--color-text-selection);
}

#container {
  margin: 30px;
  width: 65vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2ch;
  margin-bottom: 1rem;

  a {
    margin: 0;
    min-width: max-content;
  }
}

input {
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {
    appearance: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-size: inherit;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1:before {
  content: "# ";
}

h2:before {
  content: "## ";
}

h3:before {
  content: "### ";
}

h4:before {
  content: "#### ";
}

h5:before {
  content: "##### ";
}

h6:before {
  content: "###### ";
}

a {
  color: var(--color-link);
  text-decoration: none;
  word-break: break-all;
  margin: 1em 0;

  &:visited {
    color: var(--color-link-visited);
  }
}

p {
  margin: 1em 0;
}

code {
  font-family: inherit;
  overflow-wrap: anywhere;
  color: var(--color-code);
}

pre {
  overflow-x: auto;
  max-width: max-content;
  padding: 1ch;
}

li {
  margin: 1em 0;
}

ol {
  counter-reset: item;
  padding-inline-start: 4ch;

  li::marker {
    padding: 0;
    margin: 0;
  }
}

ul {
  padding-inline-start: 1ch;
  list-style: none;

  li::before {
    content: "- ";
  }
}

footer {
  margin-top: 3rem;
  font-size: 0.75em;
  padding: 0.5em;
}
