:root {
  --color-search-results-item-focus: #eaecf0;
}

#search-container {
  position: relative;
  width: 32ch;
  max-width: 100%;
}

#search-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-color: var(--color-code-comment);
  border-radius: 0;
  padding: 4px 8px;
  margin: 0;
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  background: inherit;

  &::placeholder {
    color: var(--color-code-comment);
  }
}

#search-results {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 0;
  width: 100%;
  background: var(--color-background);
  overflow-x: auto;
}

#search-results a {
  margin: 0;
}

#search-container:focus-within > #search-input {
  outline: 1px solid;
  border-color: var(--color-text);
}

#search-container:focus-within > #search-results:not(:empty) {
  visibility: visible;
  outline: 1px solid;
}

.search-results-item {
  padding: 4px 8px;
  outline: none;
}

.search-results-item:focus {
  background: var(--color-search-results-item-focus);
}
