@import "mixins/media";
@import "variables";

#main {
  > #title {
    @include media_inline(margin, 0 18.95% 42px, 0 15% 35px, 0 6.6923% 28px);
  }
  > #content {
    @include media_inline(margin, 0 18.95% 7em 36.7%, 0 15% 5.25em, 0 6.6923% 3.5em);
    a {
      box-shadow: 0 1px 0 0 currentColor;
      color: $link-color;
      &:hover {
        box-shadow: none;
        color: $link-color-hover;
      }
    }
  }
}
#footer {
  @include media_inline(margin, 0 5.5455% 90px, 0 5.5455% 90px 15%, 0 5.5455% 90px 6.6923%);
  > #footnote {
    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: 300;
      opacity: .7;
      padding: 0 7px;
    }
    a {
      color: $link-color-hover;
      font-size: 13px;
      &:hover {
        box-shadow: 0 1px 0 0 currentColor;
        color: $link-color;
      }
    }
  }
}
