$colorBlue: #1168cc;
$colorGray: #626262;

$scrollbarBg: #ffffff;
$scrollbarBr: 6px;
$scrollbarThumb: $colorGray;
$scrollbarWidth: 6px;

@mixin custom-scrollbars {
  @media (hover: hover) and (pointer: fine) {
    scrollbar-width: thin;
    scrollbar-color: $scrollbarThumb $scrollbarBg;
    &::-webkit-scrollbar {
      width: $scrollbarWidth;
      height: $scrollbarWidth;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbarThumb;
      border-radius: $scrollbarBr;
    }
  }
}

html, body, nav, ul, li {
  margin: 0;
  padding: 0;
}

html, code {
  font: 16px Consolas, "Consolas Local", monospace;
}

html {
  @include custom-scrollbars;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 70%;
  margin: 20px auto 80px auto;
}

a {
  color: $colorBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $colorGray;
  }
}

p, li {
  max-width: 75ch;
}

code {
  color: $colorGray;
  font-style: inherit;
}

pre {
  @include custom-scrollbars;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
}

h1 {
  margin-block-start: calc(0.67em - 7px);
}

h4 {
  color: $colorGray;
}

h5 {
  font-size: 1em;
  margin: 0;
}

nav {
  @include custom-scrollbars;
  color: $colorGray;
  padding-bottom: 7px;
  overflow: auto;
  white-space: nowrap;
}

ul {
  list-style-type: disc;
  margin-left: 17px;
  @media not all and (min-resolution:.001dpcm){
    @supports (-webkit-appearance:none) {
      margin-left: 19px;
    }
  }
}
