// Light theme
$colorBlueLT: #1168cc;
$colorGrayLT: #626262;
$colorScrollbarLT: #cdcdcd;

// Dark theme
$colorBackgroundDT: #0f141a;
$colorBlueDT: #52a2ff;
$colorGrayDT: #a0a0a0;
$colorTextDT: #c5c5c5;
$colorScrollbarDT: #999d9d;

// Scrollbar settings
$scrollbarBackground: 6px;
$scrollbarWidth: 6px;

@mixin customScrollbars {
  @media (hover: hover) and (pointer: fine) {
    scrollbar-width: thin;
    scrollbar-color: $colorScrollbarLT transparent;
    @media (prefers-color-scheme: dark) {
      scrollbar-color: $colorScrollbarDT transparent;
    }
    &::-webkit-scrollbar {
      width: $scrollbarWidth;
      height: $scrollbarWidth;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorScrollbarLT;
      @media (prefers-color-scheme: dark) {
        background-color: $colorScrollbarDT;
      }
      border-radius: $scrollbarBackground;
    }
  }
}

@mixin colorBlue {
  color: $colorBlueLT;
  @media (prefers-color-scheme: dark) {
    color: $colorBlueDT;
  }
}

@mixin colorGray {
  color: $colorGrayLT;
  @media (prefers-color-scheme: dark) {
    color: $colorGrayDT;
  }
}

@mixin invertColors {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

html, body, nav, ul, li {
  margin: 0;
  padding: 0;
}

html, code {
  font: 16px Consolas, "Consolas Local", monospace;
}

html {
  @include customScrollbars;
  @media (prefers-color-scheme: dark) {
    background-color: $colorBackgroundDT;
    color: $colorTextDT;
  }
  -webkit-text-size-adjust: 100%;
}

body {
  width: 70%;
  margin: 20px auto 80px auto;
}

a {
  @include colorBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    @include colorGray;
  }
  > code {
    color: inherit;
  }
}

p, li {
  max-width: 75ch;
}

code {
  @include colorGray;
  font-style: inherit;
}

pre {
  @include customScrollbars;
  background-color: transparent !important;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
}

pre > code {
  @include invertColors;
}

h1 {
  margin-block-start: calc(0.67em - 7px);
}

h4 {
  @include colorGray;
}

h5 {
  font-size: 1em;
  margin: 0;
}

nav {
  @include customScrollbars;
  @include colorGray;
  padding-bottom: 7px;
  overflow: auto;
  white-space: nowrap;
}

ul {
  list-style-type: disc;
  margin-left: 17px;
}
