@font-face {
  font-family: "Consolas Local";
  src: url('fonts/Consolas Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Consolas Local";
  src: url('fonts/Consolas Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Consolas Local";
  src: url('fonts/Consolas Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

:root {
  --md-text-font: Consolas, "Consolas Local", monospace;
  --md-text-code: Consolas, "Consolas Local", monospace;
}

a[data-md-component="logo"] > img {
  filter: invert(100);
}
