{% extends "base.html" %}

{# Head for the 404 page #}
{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="5; URL={{ get_url(path='/') }}" />
  <meta name="description" content="Wrong turn, buddy! This page doesn't exist.">
  <title>{{ config.title }} — 404</title>
{% endblock head %}

{# Body for the 404 page #}
{% block body %}
  {{ super() }}
  <h2>Whoops!</h2>
  <p>
    Looks like this page doesn't exist.
    If you are not redi&shy;rected to the home page in 5 seconds,
    <a href="{{ get_url(path='/') }}" rel="nofollow noopener">click here</a>.
  </p>
{% endblock body %}
