{% extends "site.html" %}

{# Head for all pages on the landing page #}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_url(path='base.css') }}">
{% endblock head %}

{# Body for the main page #}
{% block body %}
  <nav>
    [
    <a href="{{ get_url(path='@/_index.md') }}" rel="nofollow noopener">Home</a>
    •
    <a href="{{ get_url(path='@/flex.md') }}" rel="nofollow noopener">Flex</a>
    •
    <a href="{{ get_url(path='@/libgen.md') }}" rel="nofollow noopener">LibGen</a>
    ]
  </nav>
{% endblock body %}
