{% macro header(note) %}
{% if note.ancestors | length > 2 %}
<h1>
  {% set first_ancestor = get_section(path=note.ancestors[2], metadata_only=true) %}
  <a href="{{ first_ancestor.permalink }}">{{ first_ancestor.title }}</a><br>
  {% set prefix = "─" %}
  {% for ancestor in note.ancestors | slice(start=3) %}
  {% set section = get_section(path=ancestor, metadata_only=true) %}
  {{ "├" ~ prefix | safe }} <a href="{{ section.permalink }}">{{ section.title }}</a><br>
  {% set_global prefix = prefix ~ "─" %}
  {% endfor %}
  {{ "└" ~ prefix | safe }} {{ note.title }}
</h1>
{% else %}
<h1>{{ note.title }}</h1>
{% endif %}
{% endmacro header %}

{% macro toc(page) %}
Table of contents:
<ol>
  {% for h1 in page.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ol>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% endmacro toc %}

{% macro sitemap(parent_note) %}
{% set notes = parent_note.pages %}

{% for path in parent_note.subsections %}
{% set subsection = get_section(path=path) %}
{% set_global notes = notes | concat(with=subsection) %}
{% endfor %}

{% set notes = notes | sort(attribute="relative_path") %}

<ul>
  {% for note in notes %}
  <li><a href="{{ note.permalink }}">{{ note.title }}</a></li>
  {% if note.pages | length %}
  {{ macros::sitemap(parent_note=note) }}
  {% endif %}
  {% endfor %}
</ul>
{% endmacro sitemap %}
