<!DOCTYPE html>
<html lang="{{ config.default_language }}">

{# Other templates will extend the head #}
<head>
  {% block head %}
    <base href="{{ config.base_url }}">
    <meta charset="utf-8">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%22-.1em%22 y=%22.9em%22 font-size=%2285%22>🍂</text></svg>">
    <link rel="stylesheet" href='site.css'>
    <style>
      @font-face {
          font-family: "ConsolasLocal";
          src: url('fonts/Consolas.ttf');
      }
    </style>
  {% endblock head %}
</head>

{# Other templates will override the body #}
<body>
  {% block body %}
    <nav>
      [
      <a rel="noopener nofollow" href=".">Home</a>
      •
      <a rel="noopener nofollow" href="flex/">Flex</a>
      •
      <a rel="noopener nofollow" href="git/">Git</a>
      •
      <a rel="noopener nofollow" href="libgen/">LibGen</a>
      •
      <a rel="noopener nofollow" href="pensieve/">Pensieve</a>
      ]
    </nav>
  {% endblock body %}
</body>

</html>
